@import 'src/styles';

button {
  position: fixed;
  z-index: 2;
  right: 3%;
  bottom: 3%;
  border: none;
  background-color: green;
  transition: all 0.3s;
  height: 0;
  width: 0;
  visibility: hidden;
  outline: none;

  &.is-shown {
    height: 100px;
    width: 100px;
    visibility: visible;
  }

  i {
    color: white;
    font-size: 0;

    &.is-shown {
      font-size: 15px;
    }
  }
}